.main_container{
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1;
}
.main_container .main_left{
 margin-right:20px ;
 width:100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap:20px
}
.main_container .main_left input{
  width: 100%;
  padding: 7px;
}
.header_container{
  padding: 20px;
  margin-bottom: 100px;
  background-color: rgb(221, 200, 200);
  position: fixed;
  top:0;
  left: 0;
  z-index: 100;
  width :100%;
display: flex;
justify-content: space-between;
align-items: center;
}
.header_container nav{
  position: relative;
}
.header_container nav ul{
  position: absolute;
  top:-39px;
  right: -20px;;
  padding: 20px 50px 50px;
  height:100vh ;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:20px;
}
.header_container nav ul li{
  cursor: pointer;
}
.header_container nav ul li:hover{
  color: red;
}
.header_container .header_menu{
  margin: 50px;
  padding: 12px;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     gap:40px;
     transition: all 400ms ease-in;

}
.header_container .header_menuClose{
  cursor: pointer;
}
.header_container nav ol{
  display: none;
}

@media only screen and (min-width:768px){
  /* .header_container nav ul,.header_container nav, .header_container nav .header_menuClick{
    display: none;
    
  } */
   .header_container .header_menuClick{
    display: none;
   }
    
  

  .header_container nav ol{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .header_container nav ol li{
     font-weight: 700;
     cursor: pointer;
     transition: all 400ms ease-in;
  }
  .header_container nav ol li:hover{
    color: red;
  }
  
}